ASI_WS_TPnote_sujet3_Instagram_ABULIMITI Alafate_LI Yuanyuan/code resource/InstagramSOAP/WebContent/wsdl/UserWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService" xmlns:intf="http://webService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="privacy" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="createUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType>
     <sequence>
      <element name="deleteUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateName">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="newUserName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateNameResponse">
    <complexType>
     <sequence>
      <element name="updateNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePrivacy">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="newPrivacy" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePrivacyResponse">
    <complexType>
     <sequence>
      <element name="updatePrivacyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePassword">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePasswordResponse">
    <complexType>
     <sequence>
      <element name="updatePasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByNameAndPassword">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserByNameAndPasswordResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserByNameAndPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updatePasswordRequest">

      <wsdl:part element="impl:updatePassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePrivacyResponse">

      <wsdl:part element="impl:updatePrivacyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByNameAndPasswordRequest">

      <wsdl:part element="impl:getUserByNameAndPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateNameResponse">

      <wsdl:part element="impl:updateNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateNameRequest">

      <wsdl:part element="impl:updateName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePasswordResponse">

      <wsdl:part element="impl:updatePasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserByNameAndPasswordResponse">

      <wsdl:part element="impl:getUserByNameAndPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePrivacyRequest">

      <wsdl:part element="impl:updatePrivacy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserWS">

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateName">

         <wsdl:input message="impl:updateNameRequest" name="updateNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateNameResponse" name="updateNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePrivacy">

         <wsdl:input message="impl:updatePrivacyRequest" name="updatePrivacyRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePrivacyResponse" name="updatePrivacyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassword">

         <wsdl:input message="impl:updatePasswordRequest" name="updatePasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePasswordResponse" name="updatePasswordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByNameAndPassword">

         <wsdl:input message="impl:getUserByNameAndPasswordRequest" name="getUserByNameAndPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserByNameAndPasswordResponse" name="getUserByNameAndPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserWSSoapBinding" type="impl:UserWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePrivacy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePrivacyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePrivacyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserByNameAndPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserByNameAndPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserByNameAndPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserWSService">

      <wsdl:port binding="impl:UserWSSoapBinding" name="UserWS">

         <wsdlsoap:address location="http://localhost:8080/InstagramSOAP/services/UserWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
